@page
@model PhamDangXuanDuySE161418PRN221PE.Pages.CarToon.IndexModel

@{
    ViewData["Title"] = "Index";
    var role = HttpContext.Session.GetInt32("role");

}
@if (role == 3)
{
    <h1>Index</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <form method="get">
        <div class="form-group">
            <label for="Query">Từ khóa:</label>
            <input type="text" asp-for="SearchQuery" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Tìm</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CartoonFilmInformation[0].CartoonFilmName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartoonFilmInformation[0].CartoonFilmDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartoonFilmInformation[0].Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartoonFilmInformation[0].ReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartoonFilmInformation[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartoonFilmInformation[0].Producer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartoonFilmInformation)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartoonFilmName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartoonFilmDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producer.ProducerId)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CartoonFilmId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.CartoonFilmId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.CartoonFilmId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}